@use "../../index.scss" as *;

.project-box-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;

    // padding: 3rem 0;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 0rem;
    }

    .img-side {
        width: 50%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            aspect-ratio: 1/2;
            object-fit: contain;
            transition: all 0.3s;
            margin: auto;
            outline: 1px solid transparent;
            margin-top: 1em;
        }

        @media (max-width: 900px) {
            width: 100%;
            text-align: left;
            order: -1;
        }

        @media (max-width: 600px) {
            width: 100%;
            text-align: left;
            order: -1;
        }
    }

    .text-side {
        width: 50%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        @media (max-width: 900px) {
            width: 100%;
            text-align: left;
        }

        @media (max-width: 600px) {
            width: 100%;
            text-align: left;
        }

        h3 {
            font-size: 2.5rem;
            line-height: 1.4;
            margin-top: 0;
            margin-bottom: 2rem;
            color: #222222;
            text-transform: capitalize;
        }

        p {
            font-size: $text-size;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #202020;
            font-weight: 300;
            line-height: 1.5;
            text-transform: none;
            margin-bottom: 2rem;
        }

        .links_content {

            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;

            @media (max-width: 375px) {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }

            a {
                margin-right: 1rem;
                font-size: $text-size;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 3;
                text-decoration: none;

                color: rgb(29, 29, 29);
                transition: all 0.23s;
                font-weight: 400;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: .5rem;
                }

                svg {
                    margin-left: 0.3rem;
                }
            }
        }
    }

}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}