@use "../../index.scss" as *;

.project {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.384) 0%, rgba(1, 3, 24, 0.911) 100%);
    padding: 15rem 0;

    @media (max-width: 1020px) {
        padding: 8rem 0;
    }
}

.project-content {
    display: flex;
    flex-direction: column;

    @media (max-width: 900px) {
        text-align: center;
    }

    @media (max-width: 600px) {
        text-align: center;
    }

    p {
        color: $header-color;
        font-size: $text-size;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 3.2em;
        color: #202020;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 4rem;
        
    }
}

