@use "../../index.scss" as *;

.contact {
    padding: 5rem 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.13) 0%, rgba(9, 1, 20, 0.911) 100%);

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @media (max-width: 750px) {
            text-align: center;
        }

        p {
            color: $header-color;
            text-transform: uppercase;
            // font-weight: 700;
            font-size: $text-size;
            // margin-bottom: 1rem;
        }

        h3 {
            color: #bdbcbc;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: $headings-size;
        }
    }

    &__icons {
        display: flex;
        gap: 8rem;
        flex-wrap: wrap;
        margin: 6rem;

        @media (max-width: 750px) {
            flex-direction: column;
            gap: 5rem;
            justify-content: center;
            text-align: center;
        }
    }

    &__icon-box {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        span {
            background-color: rgb(221, 221, 221);
            width: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
            border-radius: 50%;
            color: black;
            font-size: 2.5rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            font-size: $text-size;
            color: #272727;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        a,
        p {
            font-size: $text-size;
            color: #272727;
            text-decoration: none;
            font-weight: 300;
            cursor: pointer;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-decoration: underline;
            text-underline-offset: .3em;

            &:hover {
                transition: all 0.3s;
                color: black;
            }
        }
    }
}