@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// font family
$title-font: "Poppins", sans-serif;
$text-font: "Mulish", sans-serif;

// color
$background-color: white;
$gray-bg-color: #f9f9f9;
$title-color: black;
$text-color: #6d6c6c;
$header-color: #147efb;
$black-shade: #2d2e32;

// font size
$text-size: 1.7rem;
$hero-size: 4.5rem;
$hero-text-size: 1.8rem;
$headings-size: 2.5rem;
